body{
    background-color: black;
}

#formSignIn{
    background-color: antiquewhite;
    height: 480px;
    width: 400px;
    margin-left: 580px;
    margin-top: 1px;
}

#header
{
margin-top: -5px;
height: 200px;
background-color: aqua;
}
#footer
{
    height: 75px;
    margin-top: 2px;
    background-color: aqua;
}